In [38]:
import pandas as pd
import numpy as np

df = pd.read_csv("data\movies_project_final_dataset.csv")
df.head()

<>:4: SyntaxWarning: invalid escape sequence '\m'
<>:4: SyntaxWarning: invalid escape sequence '\m'
C:\Users\AL LEWAA\AppData\Local\Temp\ipykernel_3992\3793648762.py:4: SyntaxWarning: invalid escape sequence '\m'
  df = pd.read_csv("data\movies_project_final_dataset.csv")

,Release Date,Title,Budget,Domestic Gross,Worldwide Gross,Year,Rating,Vote Count,Language,Season,Critic_Score,Audience_Score,runtime,genres,content_rating
0,2019-04-23,Avengers: Endgame,"$400,000,000","$858,373,000","$2,717,503,922",2019.0,8.237,26987,en,Spring,94.0,90.0,181.0,"Action & Adventure, Drama, Science Fiction & F...",PG-13
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"$379,000,000","$241,071,802","$1,045,713,802",2011.0,6.563,14607,en,Spring,33.0,54.0,136.0,"Action & Adventure, Comedy, Science Fiction & ...",PG-13
2,2015-04-22,Avengers: Age of Ultron,"$365,000,000","$459,005,868","$1,395,316,979",2015.0,7.271,23894,en,Spring,76.0,83.0,141.0,"Action & Adventure, Science Fiction & Fantasy",PG-13
3,2018-05-23,Solo: A Star Wars Story,"$330,400,000","$213,767,512","$393,151,347",2018.0,6.559,9020,en,Spring,70.0,64.0,135.0,"Action & Adventure, Drama, Science Fiction & F...",PG-13
4,2018-04-25,Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,158,241",2018.0,8.235,31196,en,Spring,85.0,91.0,149.0,"Action & Adventure, Science Fiction & Fantasy",PG-13

In [39]:
clean = df.copy()

In [40]:
# 1. Convert monetary columns to float
money_columns = ['Budget', 'Domestic Gross', 'Worldwide Gross']
for col in money_columns:
    clean[col] = clean[col].replace('[\$,]', '', regex=True).astype(float)

# 2. Convert Release Date to datetime
clean['Release Date'] = pd.to_datetime(clean['Release Date'])

# 3. Convert Season to categorical type
clean['Season'] = clean['Season'].astype('category')

<>:4: SyntaxWarning: invalid escape sequence '\$'
<>:4: SyntaxWarning: invalid escape sequence '\$'
C:\Users\AL LEWAA\AppData\Local\Temp\ipykernel_3992\2390228494.py:4: SyntaxWarning: invalid escape sequence '\$'
  clean[col] = clean[col].replace('[\$,]', '', regex=True).astype(float)

In [41]:
clean.isnull().sum()

Release Date        0
Title               0
Budget              0
Domestic Gross      0
Worldwide Gross     0
Year                0
Rating              0
Vote Count          0
Language            0
Season              0
Critic_Score        3
Audience_Score      3
runtime            12
genres              0
content_rating      0
dtype: int64

In [42]:
clean = clean.dropna()    # we didn't use it because there is no missing data

In [43]:
clean = clean.fillna(clean.mean(numeric_only=True))# we didn't use it because there is no missing data to fill

In [44]:
clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1983 entries, 0 to 1994
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Release Date     1983 non-null   datetime64[ns]
 1   Title            1983 non-null   object
 2   Budget           1983 non-null   float64
 3   Domestic Gross   1983 non-null   float64
 4   Worldwide Gross  1983 non-null   float64
 5   Year             1983 non-null   float64
 6   Rating           1983 non-null   float64
 7   Vote Count       1983 non-null   int64
 8   Language         1983 non-null   object
 9   Season           1983 non-null   category
 10  Critic_Score     1983 non-null   float64
 11  Audience_Score   1983 non-null   float64
 12  runtime          1983 non-null   float64
 13  genres           1983 non-null   object
 14  content_rating   1983 non-null   object
dtypes: category(1), datetime64[ns](1), float64(8), int64(1), object(4)
memory usage: 234.5+ KB

In [45]:
clean.head()

,Release Date,Title,Budget,Domestic Gross,Worldwide Gross,Year,Rating,Vote Count,Language,Season,Critic_Score,Audience_Score,runtime,genres,content_rating
0,2019-04-23,Avengers: Endgame,400000000.0,858373000.0,2.717504e+09,2019.0,8.237,26987,en,Spring,94.0,90.0,181.0,"Action & Adventure, Drama, Science Fiction & F...",PG-13
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,379000000.0,241071802.0,1.045714e+09,2011.0,6.563,14607,en,Spring,33.0,54.0,136.0,"Action & Adventure, Comedy, Science Fiction & ...",PG-13
2,2015-04-22,Avengers: Age of Ultron,365000000.0,459005868.0,1.395317e+09,2015.0,7.271,23894,en,Spring,76.0,83.0,141.0,"Action & Adventure, Science Fiction & Fantasy",PG-13
3,2018-05-23,Solo: A Star Wars Story,330400000.0,213767512.0,3.931513e+08,2018.0,6.559,9020,en,Spring,70.0,64.0,135.0,"Action & Adventure, Drama, Science Fiction & F...",PG-13
4,2018-04-25,Avengers: Infinity War,300000000.0,678815482.0,2.048158e+09,2018.0,8.235,31196,en,Spring,85.0,91.0,149.0,"Action & Adventure, Science Fiction & Fantasy",PG-13

In [46]:
clean.duplicated().sum()

np.int64(0)

In [47]:
clean.drop_duplicates(inplace=True)

In [48]:
clean.duplicated().sum()

np.int64(0)

In [49]:
clean.to_csv(r"E:\semester 5\Data Analysis\movie_data_analysis\data\movies_project_final_dataset.csv", index=False)